{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "plugin:react/recommended",
        "eslint:recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "no-console":"off",
        "react/jsx-one-expression-per-line":"off"
    }
}